@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@400;700&family=Salsa&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /*  */
  font-size: 20px;
  line-height: 1.2;
  font-family: "Salsa", sans-serif;
}

ul {
  list-style: none;
  /* */
  justify-content: space-around;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 1200px;
  margin: auto;
  /* */
}

:root {
  --color-fuente: #000000;
  --color-fondo: #ffffff;
  --color-h1: #cc2126;
  --color-padding: #fcce5c;
  --color-nav: #dc2f02;
  --color-border: #dc2f02;
  --color-header: linear-gradient(
    to bottom,
    #ff0000,
    #dc2f02,
    #ffba08,
    #fffbfb
  );
}

[tema="light"] {
  --color-fuente: #fbfbfb;
  --color-fondo: #222;
  --color-h1: #fff;
  --color-padding: #aaa;
  --color-nav: #333;
  --color-border: #777;
  --color-header: linear-gradient(to bottom, #000, #444, #888, #85b5f3);
}

body {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
}

/*-------------------- MOBILE & TABLETS --------------------*/
@media (max-width: 900px) {
  /* header */
  header {
    max-height: 90px;
    /* */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  }

  div .logo {
    height: 90px;
    margin: 0px 0px -5px;
  }

  nav {
    display: flex;
    align-items: center;
    background: var(--color-header);
    position: relative;
    justify-content: space-between;
    max-height: 90px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  nav ul li a {
    display: block;
    padding: 10px;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
  }

  /*Botón de cambio de tema*/

  #switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  #switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-fuente);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-fondo);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: var(--color-fuente);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fuente);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* ---------- Menu Hamburguesa ----------*/
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }

  .icono-menu {
    margin: 20px;
    position: relative;
    z-index: 5;
    right: 0;
    background-color: transparent;
  }

  .icono-menu.active {
    transform: translate(0px);
    background-color: #fbfbfb;
    transition: all 1s ease;
  }

  .icono-menu span {
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    transition: transform 0.3s;
    margin: 10px 0;
    border-radius: 30px;
  }

  .icono-menu.active span:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }

  .icono-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .icono-menu.active span:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }

  /* Estilos para el contenedor del menú */
  .cont-menu {
    background-color: var(--color-nav);
    box-shadow: -160px 0px 0px 0px rgba(66, 66, 66, 0.9);
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -400px;
    transition: all 0.8s ease;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  /* Estilos para el listado del menú */
  .cont-menu ul {
    display: flex;
    margin: 10px 0 150px 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .cont-menu ul li {
    /*color: black;*/
    display: block;
    font-size: 25px;
    text-decoration: none;
  }

  .cont-menu ul li.active {
    transform: translate(0);
    background-color: #e7aa26;
  }

  .cont-menu ul li.active a {
    color: #fbfbfb;
  }

  /* Estilos por agregar en JavaScript */
  .active {
    transform: translate(-400px);
  }

  .opacity {
    transition: all 0.5s ease;
  }

  #inicio #contacto #proyectos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* inicio */
  #inicio {
    margin-bottom: 30px;
    justify-content: center;
  }
  .hola div {
    align-items: center;
    margin-top: 10px;
  }
  #inicio img {
    max-width: 400px;
    /* */
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 6rem auto 2rem auto;
    padding: 10px;
    border: 10px double var(--color-padding);
  }

  h1 {
    font-size: 36px;
    /* */
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    color: var(--color-h1);
  }

  .hola p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 2rem;
  }

  /* cv */
  .cv {
    text-align: center;
  }
  form input {
    background-color: var(--color-padding);
    color: var(--color-fuente);
    font-size: 20px;
    /* */
    border-radius: 50px;
    padding: 1rem 2rem;
  }

  /* Proyectos */
  #proyectos {
    padding: 3rem;
  }
  #proyectos h2 {
    text-align: center;
    margin: 6rem 1rem 3rem 1rem;
    font-size: 28px;
    background: transparent;
  }
  #proyectos li {
    border: 10px solid var(--color-padding);
    border-radius: 20px;
    margin: 5px 5px 20px 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: transparent;
  }

  #proyectos-list {
    background: transparent;
  }

  #proyectos-list li h3 {
    background: transparent;
  }

  #proyectos li img {
    width: 150px;
    background: transparent;
  }

  /* contacto */

  #contacto .hablemos {
    color: #0f0f0f;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-top: 3rem;
    padding-bottom: 20px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    background-color: var(--color-padding);
  }

  #contacto h2 {
    font-size: 28px;
    /* */
    background-color: transparent;
    text-align: center;
    padding-top: 50px;
    margin-top: 2rem;
  }

  #contacto p {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .icon ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  /* footer */
  section footer {
    background: var(--color-header);
    color: #fbfbfb;
    /* */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*-------------------- DESKTOP --------------------*/
@media (min-width: 901px) {
  /* header */
  header {
    height: 90px;
    /* */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  header nav div .logo {
    height: 98px;
    background-color: #d0efb0;
    margin: -6px;
  }

  .menu-mobile {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-header);
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  nav ul li {
    padding: 0.5rem;
    margin: auto 4rem;
  }

  nav ul li:hover {
    color: #fbfbfb;
    transform: scale(1.1);
    background-color: var(--color-fondo);
    border-radius: 25px;
  }

  nav ul li.active {
    background-color: var(--color-fondo);
    border-radius: 25px;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
    color: var(--color-fuente);
  }

  /*Botón de cambio de tema*/

  #switch-desktop {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  #switch-desktop input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-fuente);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-fondo);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: var(--color-fuente);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fuente);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #inicio #contacto #proyectos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* inicio */
  #inicio {
    margin-bottom: 30px;
    justify-content: center;
  }
  .hola {
    display: flex;
  }
  .hola div {
    display: inline-block;
    margin-top: 8rem;
    width: 50%;
  }

  .hola-div {
    width: 50%;
  }
  #inicio img {
    max-width: 500px;
    /* */
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    border: 20px double var(--color-border);
  }

  h1 {
    font-size: 48px;
    /* */
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--color-h1);
  }

  .hola p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
  }

  /* cv */
  .cv {
    text-align: center;
  }
  form input:hover {
    transform: scale(1.1);
    background: #85b5f3;
  }
  form input {
    background-color: var(--color-padding);
    color: var(--color-fuente);
    font-size: 20px;
    /* */
    border-radius: 50px;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    margin-left: 32rem;
    transition: transform 0.3s ease;
  }

  /* Proyectos */
  #proyectos {
    margin-top: 4rem;
    padding: 4rem;
    border-radius: 20px;
    background-color: var(--color-padding);
  }
  #proyectos h2 {
    text-align: center;
    margin: 4rem 2rem;
    font-size: 36px;
  }

  #proyectos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  #proyectos li {
    border: 10px solid var(--color-border);
    border-radius: 20px;
    margin: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease;
  }
  #proyectos li:hover {
    transform: scale(1.2);
  }

  #proyectos li img {
    width: 200px;
  }

  /* contacto */
  #contacto .hablemos {
    background-color: var(--color-padding);
    color: var(--color-fuente);
    border-radius: 10px;
    padding: 3rem 0;
    margin: 8rem 0;
  }

  #contacto h2 {
    font-size: 36px;
    /* */
    background-color: transparent;
    text-align: center;
    padding-top: 50px;
    margin-top: 3rem;
  }

  #contacto p {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 4rem;
    text-align: center;
  }

  .icon ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  .icon ul li:hover {
    color: #85b5f3;
  }

  /* footer */
  section footer {
    background: var(--color-header);
    color: #fbfbfb;
    /* */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
