@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@400;700&family=Salsa&display=swap");

/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la one page sea suave */
  scroll-behavior: smooth;
  /*  */
  background-color: #fbfbfb;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Salsa", "Lato", sans-serif, cursive;
}

/* Para quitar los puntos a los items de listas */
ul {
  list-style: none;
  /* */
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
  max-width: 1200px;
  margin: auto;
  /* */
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* Deben aplicar flexbox para alinear y distribuir los elementos.
/*
/*

/*-------------------- MOBILE & TABLETS --------------------*/
@media (max-width: 900px) {
  /* header */
  header {
    max-height: 90px;
    /* */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  }

  div .logo {
    height: 90px;
  }

  nav {
    display: flex;
    align-items: center;
    background-color: #dc2f02;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #dc2f02;
  }

  nav ul li {
    margin-top: 1rem;
    background-color: #dc2f02;
  }

  nav ul li a {
    display: block;
    padding: 20px 50px;
    background-color: #dc2f02;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
    background-color: #dc2f02;
  }

  /* Menu Hamburguesa */

  .icono-menu {
    margin: 20px 30px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    background-color: #dc2f02;
  }

  .icono-menu span {
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    transition: all 0.3s;
    transform-origin: 5px 3px;
    margin: 10px 0 10px 0;
    border-radius: 25px;
  }

  /* Estilos para el contenedor del menú */
  .cont-menu {
    box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    width: 200px;
    position: fixed;
    top: 0;
    right: -200px; /* Inicialmente oculto */
    transition: all 0.5s ease;
    margin-top: 89px;
  }

  /* Estilos para el listado del menú */
  .cont-menu ul {
    padding: 20px 0px 20px 0px;
  }

  .cont-menu ul li {
    color: #03071e;
    display: block;
    font-size: 50px;
    text-decoration: none;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
  }

  .active{
    transform: translate(-200px);
  }

  .opacity {
    transition: all 0.5s;
  }

  #inicio #contacto #proyectos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  /* inicio */
  #inicio {
    margin-bottom: 30px;
    justify-content: center;
  }
  .hola div {
    /*display: flex;*/
    align-items: center;
    margin-top: 10px;
  }
  #inicio img {
    max-width: 400px;
    /* */
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 6rem auto 2rem auto;
    padding: 10px;
    border: 10px double #e7aa26;
  }

  h1 {
    font-size: 36px;
    /* */
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    color: #cc2126;
  }

  .hola p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 2rem;
  }

  /* cv */
  .cv {
    text-align: center;
  }
  form input {
    background-color: #9d0208;
    color: #fbfbfb;
    font-size: 20px;
    /* */
    border-radius: 50px;
    padding: 1rem 2rem;
  }

  /* Proyectos */
  #proyectos {
    padding: 3rem;
    background: linear-gradient(to bottom, #fbfbfb, #ffba08);
  }
  #proyectos h2 {
    text-align: center;
    margin: 6rem 1rem 3rem 1rem;
    font-size: 28px;
    background: transparent;
  }
  #proyectos li {
    border: 10px solid #9d0208;
    border-radius: 20px;
    margin: 5px 5px 20px 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: transparent;
  }

  #proyectos-list {
    background: transparent;
  }

  #proyectos-list li h3 {
    background: transparent;
  }

  #proyectos li img {
    width: 150px;
    background: transparent;
  }

  /* contacto */
  #contacto {
    background: linear-gradient(to bottom, #ffba08, #fbfbfb);
  }
  
  #contacto .hablemos {
    color: #0f0f0f;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-top: 3rem;
    padding-bottom: 20px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    background-color: #fcce5c;
  }

  #contacto h2 {
    font-size: 28px;
    /* */
    background-color: transparent;
    text-align: center;
    padding-top: 50px;
    margin-top: 2rem;
  }

  #contacto p {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .icon ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  /* footer */
  section footer {
    background-color: #d00000;
    color: #fbfbfb;
    /* */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*-------------------- DESKTOP --------------------*/
@media (min-width: 901px) {
  /* header */
  header {
    height: 90px;
    /* */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  header nav div .logo {
    height: 100px;
    background-color: #d0efb0;
  }

  .menu-mobile {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc2f02;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #dc2f02;
  }

  nav ul li {
    padding: 0.5rem;
    margin-right: 4rem;
    background: #dc2f02;
  }

  nav ul li:hover {
    color: #fbfbfb;
  }

  nav ul li.active {
    background-color: #fbff3f;
    border-radius: 20px;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
    background: transparent;
  }

  #inicio #contacto #proyectos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* inicio */
  #inicio {
    margin-bottom: 30px;
    justify-content: center;
  }
  .hola {
    display: flex;
  }
  .hola div {
    display: inline-block;
    margin-top: 8rem;
    width: 50%;
  }

  .hola-div {
    width: 50%;
  }
  #inicio img {
    max-width: 500px;
    /* */
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    border: 20px double #03071e;
  }

  h1 {
    font-size: 48px;
    /* */
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    color: #cc2126;
  }

  .hola p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
  }

  /* cv */
  .cv {
    text-align: center;
  }
  form input:hover {
    transform: scale(1.1);
    background-color: #dc2f02;
  }
  form input {
    background-color: #9d0208;
    color: #fbfbfb;
    font-size: 20px;
    /* */
    border-radius: 50px;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    margin-left: 32rem;
    transition: transform 0.3s ease;
  }

  /* Proyectos */
  #proyectos {
    padding: 4rem;
    border-radius: 20px;
    background-color: #ffba08;
  }
  #proyectos h2 {
    text-align: center;
    margin: 4rem 2rem;
    font-size: 36px;
    background-color: #ffba08;
  }

  #proyectos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    background-color: #ffba08;
  }

  #proyectos li {
    border: 10px solid #9d0208;
    border-radius: 20px;
    margin: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease;
  }
  #proyectos li:hover {
    transform: scale(1.2);
    border: 10px solid #dc2f02;
  }

  #proyectos li img {
    width: 200px;
  }

  /* contacto */
  #contacto .hablemos {
    background-color: #ffba08;
    color: #0f0f0f;
    border-radius: 10px;
    padding: 3rem 0;
    margin: 5rem 0;
  }

  #contacto h2 {
    font-size: 36px;
    /* */
    background-color: transparent;
    text-align: center;
    padding-top: 50px;
    color: #9d0208;
  }

  #contacto p {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 4rem;
    text-align: center;
  }

  .icon ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: #9d0208;
  }

  /* footer */
  section footer {
    background-color: #d00000;
    color: #fbfbfb;
    /* */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
